{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Progressus - Free business bootstrap template by GetTemplate</title>

	<link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li ><a href="{% url 'homepage' %}">Home</a></li>
					<li><a href="{% url 'signupdnr' %}">Registration</a></li>
					<li><a class="btn" href="{% url 'signinpage' %}">Log In</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Alzheimer's Association</h1>
				<p class="tagline">The complete Alzheimer's disease help desk </p>		</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">“Alzheimer's is not about the past—the successes, the accolades, the accomplishments… Alzheimer's is about the present and the struggle, the scrappy brawl, the fight to live with a disease. It's being in the present, the relationships, the experiences, which is the core of life, the courage to live in the soul"</h2>
	
	</div>
	<!-- /Intro-->
		
	
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>What is Alzheimer's disease ?</h3>
				<p>Alzheimer's disease is a progressive neurologic disorder that causes the brain to shrink (atrophy) and brain cells to die. Alzheimer's disease is the most common cause of dementia — a continuous decline in thinking, behavioral and social skills that affects a person's ability to function independently</p>
			</div>
			<div class="col-sm-6">
				<h3>What are the symptoms?</h3>
				<p>
					- Forget about recent conversations or events<br>
					- Misplace items<br>
- Forget the names of places and objects<br>
- Have trouble thinking of the right word<br>
- Ask questions repetitively<br>
- Show poor judgement or find it harder to make decisions<br>
- Become less flexible and more hesitant to try new things</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Tell me about Causes?</h3>
				<p>
					Alzheimer's disease is thought to be caused by the abnormal build-up of proteins in and around brain cells. One of the proteins involved is called amyloid, deposits of which form plaques around brain cells. The other protein is called tau, deposits of which form tangles within brain cells</p>
			</div>
			<div class="col-sm-6">
				<h3>How Is Alzheimer's Disease Treated?</h3>
				<p>

					There's no cure for Alzheimer’s, but there are treatments that may change disease progression, and drug and non-drug options that may help treat symptoms. Understanding available options can help individuals living with the disease and their caregivers to cope with symptoms and improve quality of life.


				</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h3>Stages of Alzheimer's disease</h3>
			<p>
				<h4>1.Mild dementia due</h4>
					Alzheimer's disease is often diagnosed in the mild dementia stage, when it becomes clear to family and doctors that a person is having significant trouble with memory and thinking that impacts daily functioning.
					
					In the mild dementia stage, people may experience:
					

					<ul>
						<li> <b>Memory loss of recent events.</b> Individuals may have an especially hard time remembering newly learned information and ask the same question over and over.
						</li>
						<li><b>With problem-solving, complex tasks and sound judgments.</b> Planning a family event or balancing a checkbook may become overwhelming. Many people experience lapses in judgment, such as when making financial decisions.
						</li>
						<li><b>In personality.</b> People may become subdued or withdrawn — especially in socially challenging situations — or show uncharacteristic irritability or anger. Reduced motivation to complete tasks also is common.
						</li>

						<li>
							<b>Difficulty organizing and expressing thoughts.</b> Finding the right words to describe objects or clearly express ideas becomes increasingly challenging.

						</li>
						<li>
							<b>Getting lost or misplacing belongings.</b> Individuals have increasing trouble finding their way around, even in familiar places. It's also common to lose or misplace things, including valuable items.

						</li>
					  </ul> 
					
					

			</p>
     		

			<p>
				<h4>2.Moderate dementia </h4>
				During the moderate dementia stage of Alzheimer's disease, people grow more confused and forgetful and begin to need more help with daily activities and self-care.

				People with the moderate dementia stage of Alzheimer's disease may:
					

					<ul>
						<li> <b>Show increasingly poor judgment and deepening confusion.</b>  Individuals lose track of where they are, the day of the week or the season. They may confuse family members or close friends with one another or mistake strangers for family.

							They may wander, possibly in search of surroundings that feel more familiar. These difficulties make it unsafe to leave those in the moderate dementia stage on their own.
						</li>
						<li><b>Experience even greater memory loss.</b>  People may forget details of their personal history, such as their address or phone number, or where they attended school. They repeat favorite stories or make up stories to fill gaps in memory.</li>
						<li><b>Need help with some daily activities.</b> Assistance may be required with choosing proper clothing for the occasion or the weather and with bathing, grooming, using the bathroom and other self-care. Some individuals occasionally lose control of their bladder or bowel movements.</li>

						<li>
							<b>Undergo significant changes in personality and behavior.</b>It's not unusual during the moderate dementia stage for people to develop unfounded suspicions — for example, to become convinced that friends, family or professional caregivers are stealing from them or that a spouse is having an affair. Others may see or hear things that aren't really there.

							Individuals often grow restless or agitated, especially late in the day. Some people may have outbursts of aggressive physical behavior.</li>
						
					  </ul> 
					
					

			</p>




			<p>
				<h4>3.Severe dementia </h4>
				In the late stage of the disease, called severe dementia due to Alzheimer's disease, mental function continues to decline, and the disease has a growing impact on movement and physical capabilities.

				In late stage severe dementia due to Alzheimer's disease, people generally:

					<ul>
						<li> <b>Lose the ability to communicate coherently.</b>  

							An individual can no longer converse or speak in ways that make sense, although he or she may occasionally say words or phrases.
						</li>
						<li><b>Require daily assistance with personal care.</b> This includes total assistance with eating, dressing, using the bathroom and all other daily self-care tasks.</li>
						<li><b>Experience a decline in physical abilities.</b> A person may become unable to walk without assistance, then unable to sit or hold up his or her head without support. Muscles may become rigid and reflexes abnormal. Eventually, a person loses the ability to swallow and to control bladder and bowel functions.
						
					
					

			</p>




  		</div>


		  





</div>	<!-- /container -->
	
	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+234 23 9873237<br>
								<a href="mailto:#">some.email@somewhere.com</a><br>
								<br>
								234 Hidden Pond Road, Ashland City, TN 37015
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow me</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
							<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="about.html">About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>